﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fontend1.cshtml";
    
}
 <h2>Company</h2>

<div id="pageCompany">

      <div class="row">

  <p>โรลลิ่ง เรสต์รูม เป็นบริษัทที่ให้บริการรถสุขาเคลื่อนที่ เพรียบพร้อมด้วยอุปกรณ์ครบครันและทันสมัย  เหมาะสำหรับใช้ในสถานที่ที่ไม่มีห้องน้ำ สามารถเช่าเป็นรายวันหรือการเช่าระยะยาว  รถสุขาเคลื่อนที่มีความสะดวกสบาย สำหรับใช้ออกงานทั้งในและนอกสถานที่ เช่น ในการถ่ายทำภาพยนตร์, คอนเสิร์ต, งานเลี้ยงสังสรรค์ รวมทั้งงาน  ที่ซึ่งไม่มีห้องน้ำไม่เพียงพอหรือไม่สะดวกสบาย โดยรถสุขาดังกล่าวสามารถเคลื่อนที่กับคุณได้ทุกเวลา</p> 	<p>ภายในรถสุขาเคลื่อนที่แยกเป็นห้องน้ำชาย และห้องน้ำหญิง  มีเครื่องสุขภัณฑ์ที่สะดวกสบายอย่างครบครัน  อุปกรณ์โถห้องน้ำหญิง, โถปัสสาวะชาย, อ่างล้างมือ มีน้ำสะอาดให้คุณใช้ตลอดเวลา  ตามหลักมาตรฐานและสะอาด เพรียบพร้อมด้วยบรรยากาศที่เย็นฉ่ำจากแอร์และเพลงเบา  พร้อมพนักงานทำความสะอาดคอยดุแลบริการ </p>
</div>  <!-- /.row  -->    </div><!-- /#pageCompany -->