﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fontend1.cshtml";
    
}

<h2>Contact</h2>
  <div class="row">

          <div class="col-sm-12">
 <p>บริษัท  โรลลิ่ง เรสต์รูม จำกัด  64 ซ.คู้บอน 6 แยก 2-1 ถ.รามอินทรา แขวงรามอินทรา เขตคันนายาว กรุงเทพฯ 10230  </p> <p>โทร : 089-245-5629 , 089-245-5695 , 081-832-8188 แฟกซ์ : 0-2539-9443  Email: rollingrestrooms@gmail.com </p> 


              
          <iframe width="920" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.th/maps/ms?msid=210895955557551719464.00050197592b74b2e2bb5&amp;msa=0&amp;hl=th&amp;ie=UTF8&amp;t=m&amp;ll=13.842976,100.665815&amp;spn=0,0&amp;output=embed"></iframe>
              <br /><small>ดู 
                  <a href="https://www.google.co.th/maps/ms?msid=210895955557551719464.00050197592b74b2e2bb5&amp;msa=0&amp;hl=th&amp;ie=UTF8&amp;t=m&amp;ll=13.842976,100.665815&amp;spn=0,0&amp;source=embed" style="color:#0000FF;text-align:left"   target="_blank" >บริษัท  โรลลิ่ง เรสต์รูม จำกัด</a> ในแผนที่ขนาดใหญ่กว่า</small>


   </div><!-- /.col-sm-12  -->


</div>  <!-- /.row  -->
