﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fontend1.cshtml";
    
}


<h2>Faq</h2> 
 
<div id="pageFaq"> 
      <div class="row">
 

<div class="rowContent">
<div class="sign1">Q : </div> <div class="info1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div></div><div class="rowContent">
<div class="sign2">A : </div> <div class="info2">eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis       nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div></div><!--/.rowContent --> 
<div class="rowContent">
<div class="sign1">Q : </div> <div class="info1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div></div><div class="rowContent">
<div class="sign2">A : </div> <div class="info2">eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis       nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div></div><!--/.rowContent --> 
<div class="rowContent">
<div class="sign1">Q : </div> <div class="info1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div></div><div class="rowContent">
<div class="sign2">A : </div> <div class="info2">eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis       nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div></div><!--/.rowContent --> 
<div class="rowContent">
<div class="sign1">Q : </div> <div class="info1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div></div><div class="rowContent">
<div class="sign2">A : </div> <div class="info2">eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis       nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div></div><!--/.rowContent --> </div>  <!-- /.row  -->    </div><!-- /#pageFaq -->
