﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fontend1.cshtml";
    
}



<h2>Gallery</h2>


<style> 
.content { width: 600px;  margin:0px auto ;}
#galleria { height: 500px; } 
</style>  


<script src="~/Scripts/RollingResScript/galleria/galleria-1.4.2.js"></script><!-- load Galleria --> 
  
<div class="content"> 
    <!-- Adding gallery images. We use resized thumbnails here for better performance, but it’s not necessary -->
    <div id="galleria">
        <img src="~/images/fontend/galleria/restroom-01.jpg" />
        <img src="~/images/fontend/galleria/restroom-02.jpg" />
        <img src="~/images/fontend/galleria/restroom-03.jpg" />
        <img src="~/images/fontend/galleria/restroom-04.jpg" />
        <img src="~/images/fontend/galleria/restroom-05.jpg" />
        <img src="~/images/fontend/galleria/restroom-06.jpg" />
        <img src="~/images/fontend/galleria/restroom-07.jpg" />
        <img src="~/images/fontend/galleria/restroom-08.jpg" />
         <img src="~/images/fontend/galleria/restroom-09.jpg" />
        <img src="~/images/fontend/galleria/restroom-10.jpg" />
        <img src="~/images/fontend/galleria/restroom-11.jpg" />
        <img src="~/images/fontend/galleria/restroom-12.jpg" />
         <img src="~/images/fontend/galleria/restroom-13.jpg" />
        <img src="~/images/fontend/galleria/restroom-14.jpg" />
        <img src="~/images/fontend/galleria/restroom-15.jpg" />



    </div>
</div>
<script>
    // Load the classic theme
    Galleria.loadTheme('Scripts/RollingResScript/galleria/galleria.classic.js');
    // Initialize Galleria
    Galleria.run('#galleria');
</script>
 
