﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fontend1.cshtml"; 
}

<h2>Home</h2>

<div class="row"> 
<div class="col-sm-3 col-xs-3 ">
 <p>โรลลิ่ง เรสต์รูม เป็นบริษัทให้บริการ รถสุขาเคลื่อนที่ ซึ่งเพรียบพร้อมด้วยอุปกรณ์ ครบครันและทันสมัย เหมาะสำหรับใช้ในสถานที่ ที่ไม่มีห้องน้ำ สามารถเช่าเป็นรายวัน หรือการเช่าระยะยาว </p> 
 <p>รถสุขาเคลื่อนที่ มีความสะดวกสบาย สำหรับใช้ออกงานทั้งใน และนอกสถานที่ เช่น ในการถ่ายทำภาพยนตร์, คอนเสิร์ต, งานเลี้ยงสังสรรค์ รวมทั้งงาน  ที่ซึ่งไม่มีห้องน้ำ ไม่เพียงพอหรือไม่สะดวกสบาย โดยรถสุขา ดังกล่าวสามารถเคลื่อนที่กับคุณได้ทุกเวลา </p> 
 </div><!-- /.col-sm-4  -->

<div class="col-sm-5 col-xs-5 "> 
<style>
.fancyBox-outer { overflow:hidden ;  width: 318px; height: 225px;  position:relative ; 
                  margin: 0px auto;  
                  /*border :1px solid red ;*/  
}
.fancyBox { overflow:scroll ; overflow-x:hidden ;  
    width: 330px; height: 217px;  
    padding:5px;margin: 0px auto; margin-top:10px; 
    position:absolute; left:0px; top:0px; 
    background-color: #FAFAFA;
    /*border:1px  solid #eee ;*/
}
.fancyBox  li { float:left ; margin-left:5px; padding-bottom:5px; }
.fancyBox   img { width: 95px; height:65px;  } 
</style>
<div class="fancyBox-outer">
<div class="fancyBox">

<ul>
    @for (var i = 1; i <= 15;i++ ) { 
          
        if(i<=9 ){
        <li>
         <a class="fancybox-thumbs" data-fancybox-group="button" href="~/images/fontend/galleria/restroom-0@(i).jpg">
         <img src="~/images/fontend/galleria/restroom-0@(i).jpg" />
        </a>
        </li> 
        }else{ 
         <li>
         <a class="fancybox-thumbs" data-fancybox-group="button" href="~/images/fontend/galleria/restroom-@(i).jpg">
         <img src="~/images/fontend/galleria/restroom-@(i).jpg" />
        </a>
        </li> 
        }
      
    } 
</ul> 

</div> <!-- /.fancyBox -->
</div> <!-- /.fancyBox-outer -->
</div><!-- /.col-sm-4  -->


              <div class="col-sm-4 col-xs-4 ">
<h3>ราคาค่าบริการรถสุขาเคลื่อนที่</h3> 
<table style="width: 100%; border:1px"  class="dataList"  >
    <tr>
        <th>รายละเอียด</th>
        <th width="27%">ราคา</th>
       
    </tr>
    <tr>
        <td>ค่าบริการรถสุขา  1วัน (24 ชม.)</td>
        <td>6,000 บาท</td>
      
    </tr>
    <tr>
        <td>ค่าพนักงานขับรถ และพนักงานดูแลความสะอาด 
(รวม 2 คน ต่อ 12 ชม.)
กรณีเกินคิดชม.ละ 100 บาท/คน </td>
        <td>1,000 บาท</td>
   
    </tr>
</table>

                  
   <div class="moreInfo" > &raquo; 
        @Html.ActionLink("ข้อมูลเพิ่มเติม", "Service"  ) 
   </div>
                       
   </div><!-- /.col-sm-4  -->


</div>  <!-- /.row  -->


 @section scripts {
    <!-- jquery fancyapps-fancyBox Main-->
     <link href="~/Scripts/RollingResScript/fancyapps-fancyBox/jquery.fancybox.css" rel="stylesheet" />
     <script src="~/Scripts/RollingResScript/fancyapps-fancyBox/jquery.fancybox.js"></script>
      
     <!-- Optional fancyapps-fancyBox  Buttons helper -->
@*     <link href="~/Scripts/RollingResScript/fancyapps-fancyBox/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
     <script src="~/Scripts/RollingResScript/fancyapps-fancyBox/helpers/jquery.fancybox-buttons.js"></script>
 *@     
     <!-- Optional fancyapps-fancyBox Thumbnail helper -->
	<link rel="stylesheet"  href="~/Scripts/RollingResScript/fancyapps-fancyBox/helpers/jquery.fancybox-thumbs.css" />
	<script type="text/javascript" src="~/Scripts/RollingResScript/fancyapps-fancyBox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>


     <script> 
         $(document).ready(function () {

	        $('.fancybox-thumbs').fancybox({
	            prevEffect: 'none',
	            nextEffect: 'none', 
	            closeBtn: true,
	            arrows: true,
	            nextClick: true,

	            helpers: {
	                thumbs: {
	                    width: 50,
	                    height: 50
	                }
	            }
	        });


     }); // endReady
   </script>
  
}