﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fontend1.cshtml";
    
}


<h2>Service</h2>

<div id="pageService">
  <div class="row">

          <div class="col-sm-12">
<h3>ราคาค่าบริการรถสุขาเคลื่อนที่ </h3>
  
<ol>
<li>ค่าบริการรถสุขาเคลื่อนที่วันละ (ต่อ 24 ชั่วโมง) ราคา	6,000 บาท	</li>
<li>ค่าพนักงานบริการดูแลทำความสะอาดและพนักงานขับรถ 2 คน (ต่อ 12 ชั่วโมง)	ราคา 1,000 บาท </li>
<li>ค่าน้ำมันตามระยะทางที่ใช้จริง</li> 
</ol>

<br />
<strong>หมายเหตุ : </strong>
<ul> 
<li>เริ่มคิดค่าบริการตามเวลา ที่นัดหมาย ณ สถานที่จนเสร็จ </li> 
<li>ราคานี้ไม่รวมค่าอาหารพนักงาน และไม่รวมค่ารถสูบสิ่งปฏิกูลในกรณีที่ถังบรรจุของเสียเต็ม ทางผู้ใช้บริการต้องชำระค่ารถสูบสิ่งปฏิกูลเองตามจริง </li>
<li>ค่าพนักงานบริการดูแลและพนักงานขับรถคิดที่ 12 ชั่วโมง  ถ้าเกินเวลาคิดชั่วโมงละ 100 บาทต่อคน เริ่มคิดค่าบริการตามเวลานัดหมาย ณ สถานที่จนเสร็จ </li>
</ul>
<br />
<div class="star">* ในกรณีเป็นวันหยุดนักขัตฤกษ์ ค่าพนักงานทำความสะอาดและพนักงานขับรถ จะคิดค่าบริการ เป็นวันละ 1,000 บาท</div>

   </div><!-- /.col-sm-12  -->


</div>  <!-- /.row  -->


</div><!-- /#pageService -->