﻿    <div id="dialogLine" style="display: none;">
      <div class="buttonDialogClose"></div>  
	<div class="label1">
		Line ID: <span class="lineId">Rolling0892455695</span>
	</div> 
	<img src="~/images/fontend/qr_code.jpg" />

</div>
 