﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - รถสุขา รถสุขาเคลื่อนที่ให้เช่า รถห้องน้ำ - โรลลิ่ง เรสต์รูม Rolling Restrooms</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @*    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    *@

     <link href="~/Content/RollingResCSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/RollingResCSS/reset.css" rel="stylesheet" />
    <link href="~/Content/RollingResCSS/fontface.css" rel="stylesheet" />
    <link href="~/Content/RollingResCSS/layout.css" rel="stylesheet" />
    <link href="~/Content/RollingResCSS/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Content/RollingResCSS/RollingRes.css" rel="stylesheet" />
    <link href="~/Content/RollingResCSS/overide-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/RollingResCSS/override-Jquery-UI.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>

    <script src="~/Scripts/RollingResScript/bxslider.js"></script> 
    <script src="~/Scripts/RollingResScript/config-Bxslide.js"></script> 

    <script src="~/Scripts/RollingResScript/config-jqueryUiModal.js"></script> 
    
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/RollingResScript/_jsLibrary.js"></script>
     <script> 
        $(function () { 
            /////// Set Preload Images
            PreLoadImages(
                    "@Url.Content("~/Images/fontend/slide/slide1.jpg")" ,
                    "@Url.Content("~/Images/fontend/slide/slide2.jpg")" ,
                    "@Url.Content("~/Images/fontend/slide/slide3.jpg")"  
                );
            /////// Dialog Set 
            DialogFloat(false, true, "#dialogLine", '#openDialogLine', 310, 310, "center", "center");

        }); 
     </script>
</head>
<body>
    <div id="outer-container">

        <div id="container"> 
           
             @Html.Partial("header")

            <div class="clear"></div>
            @Html.Partial("navFront")

            <div class="clear"></div>
               @Html.Partial("slider")
            <div class="clear"></div>

            <div id="wrapper">  
                @RenderBody() 
            </div>
            <!--/#wrapper-->

            <footer>
                @Html.Partial("footer")
            </footer>

        </div>
        <!--/#container-->
    </div>
    <!--/ #outer-container -->
     

    <!-- Start Google Analytic  -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-50349236-1', 'auto');
        ga('send', 'pageview');

</script>
      <!-- End  Google Analytic  -->
</body>
@Html.Partial("_DialogLinePartial")


</html>
