﻿ <header>
    <div class="logoWeb">
            <img src="~/images/fontend/logo-web.png" /> 
            </div> 
<div class="contactInfo"> 

<div  class="contactSocail" >
 
<a href="https://www.facebook.com/pages/Rolling-Restrooms-CoLtd/1549576071928719?ref=hl " target="_blank">
<img src="~/images/fontend/socail/socail_01.png" />  
</a>
    
    <img src="~/images/fontend/socail/socail_line.png" id="openDialogLine" />
</div>

<div class="contactTel"> 
Call Center Tel. 089-245-5629   
</div>

</div> 

 </header>