﻿
<script type="text/javascript">
    $(function () { 
//////////////////  Set Navigation   Control  //////////
        $(".subNav").attr("style", "display:none;"); 
        $('#navMain li').hover(function () {
            //////show its submenu 
           // console.log($(this));
            $('ul', this).slideDown(300);
           // $(this).css({ "background-color": "#bc0909" });
            $(this).addClass("hover");
        },
            function () {
                //////hide its submenu
                $('ul', this).slideUp(300);
                //$(this).css({ "background-color": "" });
                $(this).removeClass("hover");
            }
        );
         
 ////////////////// Set Class Active In Navigation  ////////////
       @* $('#navMain li a').each(function() { // Loop 
            var title = $(this).attr('rel'); 
            @{    
              string  actionName =  Request.Url.AbsolutePath;  
            } 
            var AbsolutePath =  @actionName ; 
            if (AbsolutePath  ==  title){ 
                $(this).addClass("active"); // add class after selected
                $(this).attr("href" , "#") ; // replace empty link after selected
            }
        }) // end each     
         *@
     
        var str = location.href.toLowerCase();
        console.log(str);
          $('#navMain li a').each(function() {
              if (str.indexOf(this.href.toLowerCase()) > -1) {
                  $(this).attr("class","active"); //hightlight parent tab
              }  
          });
    

       
    }); // end ready
 
 </script>

@*//=========== Bootstap Menu  ===========*@
<div id="navMain">
    <ul class="nav navbar-nav">
<li>@Html.ActionLink("Home", "Home", "Home", null, new { title = "Home"  , rel="index"  })</li> 
<li>@Html.ActionLink("Company", "Company", "Home", null, new { title = "Company"  , rel="Company"  })</li>
<li>@Html.ActionLink("Service", "Service", "Home", null, new { title = "Service"  , rel="Service" })</li>
<li>@Html.ActionLink("Gallery", "Gallery", "Home", null, new { title = "Gallery" , rel="Gallery"  }) </li>
@*<li>@Html.ActionLink("FAQ", "FAQ", "Home", null, new { title = "FAQ" }) </li> *@
<li>@Html.ActionLink("Contacts", "Contacts", "Home", null, new { title = "Contacts"  , rel="Contacts" }) </li>  

@*
<li>@Html.ActionLink("Member", "Member", "Home",  null, new { title = "Member" }) </li> 
<li>@Html.ActionLink("ลีอคอิน","Index" , "Adminweb", null , new { title ="Admin"}  )</li>
<li>@Html.ActionLink("แอดมิน","Index" , "ClientMessageEmail", null , new { title ="Admin"} )</li>
*@



    </ul>
</div>
 

 

