﻿<style>
    .demo-wrap1 { height: 250px; overflow: hidden; z-index: 11; width: 100%;   }
    .bx-wrapper .bx-pager { bottom: 30px; }

</style>
 
 
<div class="demo-wrap1">
    <ul id="bxslider1">
 
        <li> <img src="~/images/fontend/slide/slide1.jpg" width="100%" /></li> 
        
      <li> <img src="~/images/fontend/slide/slide2.jpg" width="100%" /></li> 
             <li> <img src="~/images/fontend/slide/slide3.jpg" width="100%" /></li> 
    </ul>
</div>
 
