/*//================== Layout */
html,body { /*overflow-x: hidden;*/ /* Prevent scroll on narrow devices *//*height: 700px;*/}
body {  color: #000; margin: 0px; padding: 0px; font-size: 13px; font-family: Tahoma, Verdana, Arial; 
text-align:left ;
}
p { margin-bottom: 5px; text-indent:20px; }
ul, li, ol { margin: 0px; padding: 0px; } 
a { color: #F90; margin: 0px; }
a:hover { color: #F90;text-decoration:underline ; } 
h1,h2,h3 { margin-top: 0px; margin-bottom: 0px;  font-family: 'DBHelvethaicaX45Li'; }
img {border:none ;}
h1 { /* font-size:23px; */ /* font-family: 'DBHelvethaicaX45Li'; */ /* color: #fff; */ 
     font-size: 28px;  color: #E73509; 
}
h2 {  color: #000 ; font-size: 28px;
     background: url(../../images/fontend/bullet1.png) no-repeat left 5px ;  height:30px;
     text-align:left ;
      border-bottom: 1px solid #ddd;
      padding-left: 25px;
      margin-bottom: 10px;
    }
h3 {  color:  #AC6812 ; font-size: 22px; 
     text-align:left ;  
      /*border-bottom: 1px solid #ddd;*/
    }

canvas {   } 
.clear { clear: both; }
.containerHeader { margin: 0px auto; background: linear-gradient( 0deg, #690707 0%, #410404 50% ); background-color: #550000; height: auto !important;   clear: both; margin: 0px auto; }
header {  width: 100%; height: 76px;}

#outer-container { 
background: 
url(../../images/fontend/bg-patternHeader.jpg) , 
url(../../images/fontend/bg-patternFooter.jpg) ,
url(../../images/fontend/bg-slide.jpg)    ;

background-repeat: repeat-x  , repeat-x , repeat-x  ;
background-position: left top, left bottom , left 48px ;  

}



#container { width: 980px; margin: 0px auto; /*background-color:#fff;*/   margin: 0px auto; 
            height: auto !important; height: 500px;  min-height: 500px;  
  }

#inner-container  { background-color: #FFF; }
#wrapper { /* border:1px #fff solid; */  padding: 10px;   height: auto !important; height: 250px;  min-height: 250px;}
#sideLeft { float:left; margin-right:5px; }
#sideRight { float:left; }
.boxSocial { position:absolute;  bottom: 0px;    right: 15px;
bottom: 0px;}
footer {  display: block; /*margin-bottom: 20px; padding-top: 20px; height: 50px;*/  
         background-color: #ffea03; margin : 0px auto ; height:73px; 
         text-align:center ; padding-top: 5px;font-size: 12px;
}

footer .footlink { margin-bottom: 10px; clear: both; height: 30px; text-align: center; margin: 0px auto; display: block; width: 500px; }
footer .footlink li { float: left; font-size: 12px; }
footer .footlink li a { text-align: center; padding: 0px 5px; color: #2852cd; }
footer .footlink li a:hover { color: #24439d; }
footer .copy { color: #525253; font-size: 11px; float: left; text-align: center; margin-bottom: 10px; }
footer .policy { margin-bottom: 5px; float: right; font-size: 11px; }
footer .policy li { float: left; }
footer .policy a { color: #525253; padding: 0px 5px; }
footer .policy a:hover { color: #ccc; }

