
/*========== 442.im Override  BootStrap ==============================*/
.row { margin : 0px; }
.logo-company {float:left; background-color:#770F0F ; }
 

#areaSearch  table{ width:100%;}
#areaSearch  table .label{ width:200px; margin-right:10px;}
#areaSearch  table td{ float:left; }

/*//============  Userstatus   */ 
#userStatus{ color:#fff;  float:right ; /*border-radius:10px; border:1px solid #fff;*/   background-color:#770F0F; border-spacing: 2px; }
#userStatus div { clear:both; } 
#userStatus label {float:left;margin-bottom:0px; width:70px; text-align:right;margin-right:5px;   font-weight:normal ; color:#F8ED71 ; }
#userStatus span { width:120px; padding-right: 5px;}

/*//============  NavManage  */
.navManage {margin-bottom: 10px; height: 28px;  }
.navManage  input[type="submit"] { margin-right:5px;}
/*.navbar-header { float: none; }*/

/*//================= Overide Bottstap ================================================================= */
.navbar-fixed-top, .navbar-fixed-bottom {   
    z-index : 1 ;
}
.ui-corner-all { /*border: 1px solid #ccc ;*/ }

.containerHeader {  background-color: #A80B0B; height: auto !important; clear: both;   }
.sidebar-offcanvas {   /* background-color: #881717; */  margin: 0px; float: right; }
 
.label { color:#000; text-align: right; font-weight:normal ;padding:0px;font-size: 100%; 
 line-height: normal; }

/*//=========== Navigation For Display Small Size */
.navbar {position: relative; } /*////// Set  Fix Position  Navbar*/
 
/*//============ Navigation Default */ 
.nav {font-family: 'RSULight'; font-size:18px; }
.navbar-inverse { background-color:none ;  border:none;  }
.navbar { margin-bottom:  0px;  min-height: 0px;  }
 
.navbar-inverse .navbar-nav > .open > a { background-color: #F10909; }
.navbar-nav > li > a { padding: 6px 19px;  color:#fff ;/*line-height:26px;*/ 
                       /*border-top: 1px solid #fff; 
  border-right: 1px solid #fff; 
  border-bottom: 1px solid #fff;*/ 
  border-right: 1px solid #fff; background-color:#ffea03;
  margin-bottom: 0px; margin-bottom: 0px;
  color:#000; 
}
.navbar-nav > li > a.active {  background-color:#9a8f23; color: #FFF; } 
.navbar-nav > li > a:hover {  background-color:#9a8f23; }
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
background-color:#b0a31a; 
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus  {background-color:#b0a31a }  

.dropdown-menu { background-color: #8A1F1F; color: #fff; } 
.dropdown-menu > li > a { color: #fff; text-decoration: none; background-color:#8A1F1F;}
.dropdown-menu > li > a:hover { color: #fff; background-color:  #470202; }
.dropdown-menu > li > a:focus { color: #fff; text-decoration: none; background-color: #470202; } 
 
.subNav  { display: none; position: absolute; left: 0px; top: 30px;  z-index:111;  list-style: none;
 background-color: #640000; width: 100%;  }
.subNav   li {   background-color: #640000;   padding :  5px 25px ;} 
.subNav   li.hover {   background-color:  #FF1C08 ; }  
.subNav   li a  {   text-decoration:none ; color:#fff ; } 
.subNav   li a:hover {    text-decoration:none ;} 
.subNav  .selected  {   }    

/*
///////////  Bottstap Media Query ////////////////
"max-width: 320px" จะหมายถึงอุปกรณ์ที่มี width น้อยกว่าหรือเท่ากับ 320px      ( ไม่ใหญ่กว่า 320px   )
"min-width: 1024px" จะหมายถึงอุปกรณ์ที่มี width มากกว่าหรือเท่ากับ 1024px     ( ไม่เล็กกว่า  1024px   )  
*/
 
/*////////////// Below Size  767px  /////////////////*/
@media screen and (max-width: 767px) {
 
}
/*//////////////// Over Size 768px ///////////////*/
@media (min-width: 768px) {
    .navbar-nav { float: none ; background-color:#ffea03 }
}
/*/////////////////  Over Size 992px //////////////*/
@media (min-width: 992px) { 
 
}
/*//////////////  Over Size 1200px  /////////////////*/
@media (min-width: 1200px) {
   
}
/*//////////////  Over Size 1400px  /////////////////*/
@media (min-width: 1400px) {
    /*.containerHeader { width: 1170px; }*/
}

/*////////////////// ?????? /////////////*/
@media (min-width: 768px) and (max-width: 991px) {
}
/*////////////////// ?????? /////////////*/
@media (min-width: 992px) and (max-width: 1199px) {
}

