﻿
.ui-widget-overlay { background: #FCF8F8; opacity: .8; }
 
/*///////// Override Jquery UI  Dailog //////////////*/ 
.buttonDialogClose { background : url("../../images/fontend/buttonDialogClose.png") no-repeat left top ; 
                     width:26px; height:26px; position:absolute;  top:5px; right:5px;  } 
.fixed-dialog{ position: fixed; }
.ui-dialog { padding: 0px; background-color: none;}
.ui-widget-header {border: none; background: none;}
.ui-widget-content {border-radius: 10px;  border: none;}
.ui-draggable .ui-dialog-titlebar {cursor: move; display:none;}


/*////  Line - sModal /////*/
#dialogLine {
position:relative ;
text-align: center;
background-color:  #ffea03;
padding: 10px;
border-radius: 5px;
border: 1px solid #ddd; 
color:#000 ;
font-size: 28px; 
font-size: 20px; 
}

#dialogLine  .label1 {margin-bottom: 5px; }
#dialogLine  .label2 {  margin-bottom: 5px;}
#dialogLine  .lineId {  }
 

