﻿@charset "utf-8"; 
/*//==================  Share  442.imn =========================//*/
.logoWeb { float:left; }
.contactInfo {float:right ;padding-top:5px; }
.contactInfo  .contactSocail { padding-left:200px;  }
.contactInfo  .contactTel {  font-family: 'DBHelvethaiCamon';font-size: 27px; text-align: right; }

footer .copyRight { color: #AA6E2C ; }

.moreInfo {margin-top:10px; margin-left:200px;   }
.moreInfo a{ color: #E2841D ; text-decoration:underline ; }
.moreInfo a:hover{ color: #B4560D ; }
 
/*///////////////// Header */
 
/*//////////////  Btn Default  */
a.btn-default { color: #fff; text-decoration: none; cursor: pointer; }
.btn-default { position: relative; display: block; border: none; padding: 2px 7px 0px 7px; 
font-family: 'RSULight'; font-size: 16px; font-weight: normal; color: #fff; cursor: pointer; float: left;  border-radius: 5px; 
background: linear-gradient( 0deg, #F10909 0%, #9B1818 50% ); 
background-color: #577ce9;  }
.btn-default:hover { color: #fff; 
background: linear-gradient( 0deg, #EB0F0F 0%, #DA1616 50% );  
background-color: #DA1616;  }
.btn-default span { width: 30px; height: 30px; display: block; right: 0px; position: absolute; top: 1px; z-index: 11; /*border:1px solid red ;*/ }
.btn-small { font-size:13px;  }
 
.btnDefault   { font-size: 13px; background-color: #640000; color: white; border: #666 1px solid; text-decoration: none ; }
.btnDefault:hover { background-color: #CE2424; }
 a.btnDefault {  padding: 2px 5px;  font-size: 13px; background-color: #640000; color: white; border: #666 1px solid; text-decoration: none ; }
 a.btnDefault:hover { background-color: #CE2424; }

 

/*//==================  Page  =======================================//*/
/*//////////////// Page  Home*/  
.dataList { border-collapse: collapse; border-spacing: 0; background-color: white;   font-size: 13px;   width:100%;  }
.dataList th { height: 30px;padding: 5px; background-color: #FFD808 ;color: #000 ;   border: 1px solid #ddd ;  text-align:center ;  }
.dataList td { height: 30px; padding: 5px; background-color: #fff ; color: #000 ;  border: 1px solid #ddd ;  vertical-align:top ;text-align: left; }
    .dataList td:nth-child(2) { text-align: right;}

/*//////////////// Page  Service */ 

#pageService { } 
#pageService  ol   {  padding-left:40px; }
#pageService  ul   {  padding-left:40px; }
#pageService  ol  li  {  list-style: decimal ;}
#pageService  ul  li  {  list-style: disc ;}
#pageService .row {width:85% }
#pageService .star { color:red; font-size:12px; }

/*//////////////// Page  FAQ */
#pageFaq{ }
#pageFaq .row {width:85% }
.rowContent { position:relative ; clear:both ; /*width:300px; border-bottom:1px solid #ccc ;*/ line-height: 27px; }
.sign1 {  color:#b0a31a ;position:absolute; left:0px; top: 0px; font-size:28px;  font-family: 'DBHelvethaicaX45Li';  }
.info1 { margin-left:40px; line-height: 20px;  }
.sign2 {  color:#000 ;position:absolute; left:0px; top: 0px; font-size:28px; font-family: 'DBHelvethaicaX45Li';   }
.info2 { margin-left:40px; line-height: 20px;  }

/*//////////////// Page Company */
#pageCompany { }
#pageCompany .row {width:85% }





