﻿@model RollingRestrooms.Models.aut_menu

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>aut_menu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modu_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modu_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_no)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_no)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_filepath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_filepath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_canceldate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_canceldate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.menu_cancellogin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.menu_cancellogin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.insert_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.insert_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.insert_login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.insert_login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.update_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.update_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.update_login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.update_login)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
