﻿@model RollingRestrooms.Models.aut_menu

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>aut_menu</legend>

        <div class="editor-label">
         // @Html.LabelFor(model => model.menu_id) 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_id)
            @Html.ValidationMessageFor(model => model.menu_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modu_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modu_id)
            @Html.ValidationMessageFor(model => model.modu_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_no)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_no)
            @Html.ValidationMessageFor(model => model.menu_no)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_name)
            @Html.ValidationMessageFor(model => model.menu_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_filepath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_filepath)
            @Html.ValidationMessageFor(model => model.menu_filepath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_status)
            @Html.ValidationMessageFor(model => model.menu_status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_canceldate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_canceldate)
            @Html.ValidationMessageFor(model => model.menu_canceldate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_cancellogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_cancellogin)
            @Html.ValidationMessageFor(model => model.menu_cancellogin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.insert_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.insert_date)
            @Html.ValidationMessageFor(model => model.insert_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.insert_login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.insert_login)
            @Html.ValidationMessageFor(model => model.insert_login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.update_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.update_date)
            @Html.ValidationMessageFor(model => model.update_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.update_login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.update_login)
            @Html.ValidationMessageFor(model => model.update_login)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index","TestMenu" )
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
