﻿@model IEnumerable<RollingRestrooms.Models.aut_menu>

@{
    ViewBag.Title = "Index";
    var test = ViewBag.Test;
}

<h2>Index</h2>
@test 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.menu_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modu_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_filepath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_canceldate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_cancellogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insert_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insert_login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.update_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.update_login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.menu_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modu_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_filepath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_canceldate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_cancellogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insert_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insert_login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.update_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.update_login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.modu_id  }) |
            @Html.ActionLink("Details", "Details", new { id=item.modu_id  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.modu_id  })
        </td>
    </tr>
}

</table>
