<style> 
.content { width: 600px; }
#galleria { height: 500px; } 
</style> 

<script src="../../jquery-1.9.1.js"></script>
<script src="galleria-1.4.2.js"></script><!-- load Galleria --> 
 
<div class="content"> 
    <!-- Adding gallery images. We use resized thumbnails here for better performance, but it’s not necessary -->
    <div id="galleria">
        <img src="800px-Athabasca_Rail_at_Brule_Lake.jpg" />
        <img src="800px-Biandintz_eta_zaldiak_-_modified2.jpg" />
    </div>
</div>
<script> 
    // Load the classic theme
    Galleria.loadTheme('galleria.classic.js'); 
    // Initialize Galleria
    Galleria.run('#galleria'); 
</script>
 
